=border-radius($radius)
  -moz-border-radius: $radius
  -o-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

=opacity($value)
  opacity: $value
  -moz-opacity: $value
  -o-opacity: $value
