$info-page-height: 100vh
$info-page-width: 100vw
$footer-height: 10vh

@font-face
  font-family: franchise
  src: url('../resources/fonts/Franchise-Bold.ttf')

@font-face
  font-family: font2
  src: url('../resources/fonts/BEBAS___.ttf')

@font-face
  font-family: pacifico
  src: url('../resources/fonts/Pacifico.ttf')

@font-face
  font-family: molot
  src: url('../resources/fonts/Molot.otf')

@font-face
  font-family: LeagueGothic
  src: url('../resources/fonts/LeagueGothic-Regular.otf')
