@import variable
@import mixins

.container-fluid
  padding: 0px

.page
  height: $info-page-height
  width: $info-page-width
  margin: auto
  text-align: center
  vertical-align: middle

#page-1
  @extend .page
  background-color: #2F6FAD
  color: ghostwhite

#page-1 h1
  font-family: franchise
  font-size: 78px
  color: #c0d8f1
  text-transform: uppercase
  margin: 0 0 25px 0

#page-1 h1 span
  display: block
  width: 40vw
  height: 20vh
  margin: 8px 0 0 0
  text-indent: -9999px


#page-1 p
  width: 50vw
  font-size: 2em
  color: #c0d8f1

#page-1 a
  display: block
  float: right
  text-decoration: none
  font-size: 3em
  padding: 20px

#funfact
  background: #FFF
  font-family: pacifico
  +opacity(0.8)
  padding: 2px
  width: 650px
  position: relative
  margin: auto


#funfact > h2
  font-family: franchise


#page-2
  @extend .page
  background-color: #00d4b4
  color: #004444

#page-3
  @extend .page
  background-color: #2C2C2C
  color: #ffffff

#page-4
  @extend .page
  background-color: #00aaff
  color: #003355

footer
  height: $footer-height
#page-5
  @extend .page
  height: $info-page-height - $footer-height
  background-color: #219161
  color: #004444




