@font-face {
  font-family: franchise;
  src: url("../resources/fonts/Franchise-Bold.ttf"); }
@font-face {
  font-family: font2;
  src: url("../resources/fonts/BEBAS___.ttf"); }
@font-face {
  font-family: pacifico;
  src: url("../resources/fonts/Pacifico.ttf"); }
@font-face {
  font-family: molot;
  src: url("../resources/fonts/Molot.otf"); }
@font-face {
  font-family: LeagueGothic;
  src: url("../resources/fonts/LeagueGothic-Regular.otf"); }
.container-fluid {
  padding: 0px; }

.page, #page-1, #page-2, #page-3, #page-4, #page-5 {
  height: 100vh;
  width: 100vw;
  margin: auto;
  text-align: center;
  vertical-align: middle; }

#page-1 {
  background-color: #2F6FAD;
  color: ghostwhite; }

#page-1 h1 {
  font-family: franchise;
  font-size: 78px;
  color: #c0d8f1;
  text-transform: uppercase;
  margin: 0 0 25px 0; }

#page-1 h1 span {
  display: block;
  width: 40vw;
  height: 20vh;
  margin: 8px 0 0 0;
  text-indent: -9999px; }

#page-1 p {
  width: 50vw;
  font-size: 2em;
  color: #c0d8f1; }

#page-1 a {
  display: block;
  float: right;
  text-decoration: none;
  font-size: 3em;
  padding: 20px; }

#funfact {
  background: #FFF;
  font-family: pacifico;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -o-opacity: 0.8;
  padding: 2px;
  width: 650px;
  position: relative;
  margin: auto; }

#funfact > h2 {
  font-family: franchise; }

#page-2 {
  background-color: #00d4b4;
  color: #004444; }

#page-3 {
  background-color: #2C2C2C;
  color: #ffffff; }

#page-4 {
  background-color: #00aaff;
  color: #003355; }

footer {
  height: 10vh; }

#page-5 {
  height: 90vh;
  background-color: #219161;
  color: #004444; }

/*# sourceMappingURL=info.css.map */
