body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

h2, h4
  text-align: center

.sm-box
  height: 200px
  text-align: center
  opacity: 0.6
  border-radius: 10px
  padding: 20px


