@charset "UTF-8";
/* CSS Document */

@font-face
{
    ;
    src: url('../resources/fonts/Franchise-Bold.ttf'),
    url('../resources/fonts/Franchise-Bold.ttf'); /* IE9 */
}

@font-face
{
    font-family: font2;
    src: url('../resources/fonts/BEBAS___.ttf'),
    url('../resources/fonts/BEBAS___.ttf'); /* IE9 */
}
@font-face
{
    font-family: pacifico;
    src: url('../resources/fonts/Pacifico.ttf'),
    url('../resources/fonts/Pacifico.ttf'); /* IE9 */
}

@font-face
{
    font-family: molot;
    src: url('../resources/fonts/Molot.otf'),
    url('../resources/fonts/Molot.otf'); /* IE9 */
}

@font-face
{
    font-family: LeagueGothic;
    src: url('../resources/fonts/LeagueGothic-Regular.otf'),
    url('../resources/fonts/LeagueGothic-Regular.otf'); /* IE9 */
}


body{

}

#container{
    display:block;
}


#section1 {

    font-family: font2;
    font-size: 2em;
    padding: 0 0 200px 0;

}
#section1 > h2{
    font-size: 154px;
    color: #c0d8f1;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-family: font2;
    font-size: 4em;
}
#section1 > p {
    width: 850px; margin: -25px 0 45px 0;
    font-size: 37px; line-height: 47px; color: #a7a9ac;
}
#section1 img {
    margin: 0 0 45px 0;
}

#section1 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section2 {
    background: #476079 url("") 220px 400px no-repeat;
    padding: 75px 0 50px 100px;
    color: #ffffff;
    font-family: leaguegothic;
    padding: 0 0 100px 0;
    margin-left: 5px;
}
#section2 img {
    margin: 0 0 150px 0;
}

#section2 h1,h2,h3,div {
    font-family: leaguegothic;

}
#section2 > h1{
    font-size: 3em;

}

#section2 > h2{
    font-size: 6em;
    text-transform: uppercase;
}

#section2 > h3{
    font-size: 5em;
}

#swearcomment{
    font-size: 5em;
    display: block;
    font-family: pacifico;
}

#section2 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section3 {
    background: #222222 url("") repeat-x; padding: 50px 0 200px 100px;
    overflow: hidden;
    display: block;
    color: white;
}

#section3 h1{
    font-family: molot;
}

#section3 h2.user {
    font-size: 120px;
    color: #476079;
    text-transform: uppercase;
    margin: 0 0 100px 0; padding: 100px 0 0 0;
    font-family: molot;
}
#section3 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section3 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}
#section3 img {
    margin: 0 0 100px 0;
}
#section3 h3 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
}

#section3 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}
#wrapweather{
    display:inline-block;
    margin: auto;
    width: 90%;
    height:700px;
    overflow: scroll;
    vertical-align: top;
}

#ww1{
    float: left;
    width: 50%;
    height:300px;
    background-color: #fff;
    border: 1px solid #000000;
}
#ww2{
    width: 50%;
    float: left;
    height:300px;
    background-color: #FFF;
    border: 1px solid #000000;
}
#ww3{
    width: 50%;
    clear:both;
    float: left;
    height:300px;
    background-color: #fff;
    border: 1px solid #000000;
}
#ww4{
    width: 50%;
    float: left;
    height:300px;
    background-color: #fff;
    border: 1px solid #000000;
}
#section4 {
    background: #c1e6e9 url("") repeat-x; padding: 50px 0 50px 0px;
    overflow: hidden;
    font-family: molot;
}

#section4 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section4 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section4 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}

#section4 img {
    margin: 0 0 100px 0;
}
#section4 h3 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
}


#section5 {
    background: #c1e6e9 url("") repeat-x; padding: 50px 0 200px 100px;
    overflow: hidden;
    font-family: molot;
}


#section5 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section5 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section5 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}

#section5 img {
    margin: 0 0 100px 0;
}
#section5 h3 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
}


#section6 {
    background: #c1e6e9 url("") repeat-x; padding: 50px 0 200px 100px;
    overflow: hidden;
    font-family: leaguegothic;
}


#section6 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section6 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section6 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}

#section6 img {
    margin: 0 0 100px 0;
}
#section6 h3 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
}


#section7 {
    background: #303030 url("") repeat-x; padding: 50px 0 200px 100px;
    overflow: hidden;
    color: #ffffff;
}


#section7 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section7 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section7 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}

#section7 img {
    margin: 0 0 100px 0;
}
#section7 h3 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
}


#section8 {
    background: #4cae4c url("") repeat-x; padding: 50px 0 200px 100px;
    overflow: hidden;
    font-family: font2;
}

#section8 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#section8 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section8 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}

#section8 img {
    margin: 0 0 100px 0;
}
#section8 h3 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
}

#section9 {
    background: #fbeed5 url("") repeat-x; padding: 50px 0 200px 100px;
    overflow: hidden;
    font-family: molot;
}




#section9 ul {
    width: 534px; height: 1135px; padding: 75px 0 200px 600px;
    background: url("") no-repeat;
}
#section9 ul li {
    list-style: none; height: 60px; padding: 40px 0 30px 130px; margin: 0 0 106px 0;
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
}            #section9 a {
                 display: block; width: 128px; height: 128px;
                 background: url(""); text-indent: -9999px;
                 float: right; margin: 160px -3px 0 0;
             }


#section9 img {
    margin: 0 0 100px 0;
}
#section9 h1 {
    font-size: 70px;
    color: #476079;
    text-transform: uppercase;
    float: left; margin: 0 0 0 830px;
    font-family: molot;
}
#section9 a {
    display: block;
    background: url("");
    float: right;
    text-decoration: none;
    font-size: 3em;
    padding: 20px;
}

#footer{
    font-family: helveticaneue-light;
    text-align: center;
}
